<p id="notice"><%= notice %></p>
<meta charset="utf-8">
<script src="assets/javascript/D3/d3.v3.js"></script>
<p>
  <strong>Title:</strong>
  <%= @input.title %>
</p>

<p>
  <strong>Data:</strong>
  <%= @input.data %>
</p>
<p>
	<script type="text/javascript">
	    var dataset = <%= @input.data.split(",").map(&:to_i) %>;
		var w = 500;
    	var h = 200;
    	var barPadding = 1;

    	var svg = d3.select("body")
    	            .append("svg")
    	            .attr("width", w)
    	            .attr("height", h);

    	svg.selectAll("rect")
    	   .data(dataset)
    	   .enter()
    	   .append("rect")
    	   .attr("x", function(d, i) {
    	   	   return i * (w/dataset.length);
    	   })
    	   .attr("y", function(d) {
    	   	   return h - d * 8;
    	   })
    	   .attr("width", w/dataset.length - barPadding)
    	   .attr("height", function(d) {
    	   	   return d * 8;
    	   })
    	   .attr("fill", function(d) {
    	   	   return "rgb( 0, 255," + (d * 30) + ")";
    	   });
    	svg.selectAll("text")
    	   .data(dataset)
    	   .enter()
    	   .append("text")
    	   .text(function(d) {
    	   	   return d;
    	   })
    	   .attr("x", function(d, i) {
    	   	   return i * (w/dataset.length) + (w/dataset.length - barPadding) / 2;
    	   })
    	   .attr("y", function(d) {
    	       return h - (d * 4) + 5;
    	   })
    	   .attr("font-family", "sans-serif")
    	   .attr("font-size", "11px")
    	   .attr("fill", "white")
    	   .attr("text-anchor", "middle");
	</script>
</p>

<%= link_to 'Edit', edit_input_path(@input) %> |
<%= link_to 'Back', inputs_path %>
